*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .2s linear;
}

.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(-55deg, #FF8C00 40%, #E5E4E2 30%);
}

.container .box{
  width: 750px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 5px #0007;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  background: -webkit-linear-gradient(-55deg, #FF8C00 30%, #fff 30%);
}

.container .box .image img{
  height: 200px;
  width: 200px;
  border: 10px solid #FF8C00;
  border-radius: 50%;
  position: relative;
}

.container .box .content{
  padding-left: 100px;
  padding-right: 70px;
}

.container .box .content .info{
  padding-bottom: 20px;
}

.container .box .content .info .title{
  font-size: 23px;
  color: #000000;
  padding: 5px, 0;
  text-transform: capitalize;
  text-align: left;
}

.container .box .content .info .post{
  text-align: left;
  font-size: 15px;
  color: #000000;
  padding: 5px, 0;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.container .box .content .info hr{
  border: 1px solid #FF8C00;
}

.container .box .content .contact li{
  list-style-type: none;
  color: #000000;
  font-size: 12px;
}

.container .box .content .contact li i{
  height:30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  background: #FF8C00;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #fff;
}

.container .box .icons a{
  height:30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  background: #FF8C00;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #fff;
  margin-top: 200px;
}

.container .box .name .bull{
  font-size: 18px;
  background: #FF8C00;
  color: #fff;
  margin-bottom: 10px;
}
